* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: normal;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background-color: #B3C79F;
    height: 70px;
    width: 100%;
}
label.nazev{
    color: #58634C;
    font-size: 38px;
    line-height: 70px;
    padding: 0 50px;
    font-weight: bold;
    animation-duration: 5s;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline;
    line-height: 70px;
    margin: 0 4px; /* jak daleko od sebe jsou texty */
}
nav ul li a{
    color: #636363;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #E3E3E3;
    transition: .5s;
}
.kde-nas-hledat{
    width: fit-content;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    padding: 2px;
    text-align: center;
}
.kde-nas-hledat h2{
    text-align: center;
    padding-bottom: 5px;
}
.co-u-nas-najdete{
font-size: 15px;
font-weight: normal;
padding: 10px;
text-align: center;
}
#kde_nas_hledat{
    padding-bottom: 15px;
    font-size: 15px;
    float: right;
    text-align: center;
}
.o-firme{
    font-size: 15px;
    text-align: center;
}
.kontakt{
    font-size: 15px;
    text-align: center;
}
.servis{
    font-size: 15px;
    text-align: center;
 
}
.nazev {
    text-decoration: none; 
    position: relative; 
}   


.galerie{
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
   width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #58634C;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right:40px;
}
.manual-btn:hover{
    background: #58634C;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}



.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation.auto div{
    border: 2px solid #58634C;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #58634C;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #58634C;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #58634C;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #58634C;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    text-decoration: none;
    position: relative;
    bottom: 0;
    width: auto;
}